/* assets/style.css */

/* ----------------------------- */
/* 1. 全局基礎樣式 (背景, 文字)
/* ----------------------------- */
html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: black !important;  /* 背景黑色 */
    color: white !important;             /* 文字白色 */
    font-family: 'Inter', sans-serif, 'Microsoft JhengHei' !important; /* 全局字體 */
}

/* ----------------------------- */
/* 2. Dash 根元件樣式
/* ----------------------------- */
#react-entry-point {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: black !important;
}

/* ----------------------------- */
/* 3. Dash 圖表背景
/* ----------------------------- */
.dash-graph div.js-plotly-plot {
    background-color: black !important;
}

/* ----------------------------- */
/* 4. 全局字體 (強制覆蓋)
/* ----------------------------- */
body, body * {
    font-family: 'Inter', sans-serif, 'Microsoft JhengHei' !important;
}